*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eff2f5;
  font-size: 1.5rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none; /* Remove default styling on Safari */
  -moz-appearance: none; /* Remove default styling on Firefox */
  appearance: none; /* Remove default styling on other browsers */
}

.calculator {
  background-color: #899dae;
}

.operator {
  background-color: #d2dce4;
}

.numeric,
.all-clear {
  background-color: #5a6b77;
}

.equals {
  background-color: #ff7077;
}
